﻿.ico {
	color: black;
}

.ico:hover {
	color: lightgray;
}

.order-cell-cont {
	display: inline-block;
	text-align: center;
	margin: auto;
}

.order-cell-centered {
	text-align: center;
}

.catalog-button-hidden {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

.border-light-gray {
	border-color: #ebebeb;
}

.order-cell-vertical-centered {
	margin: auto
}