﻿@page "{handler?}/{prodId?}"
@model GameShopRP.Pages.CatalogItemModel
@{
    ViewData["Title"] = "CatalogItem";
}

<div class="container">
    <div class="row my-2">
        <div class="col-3">
            <img class="img-fluid" src="@Model.ItemModel.ImageUrl">
        </div>
        <div class="col-6">
            <div class="pb-2">
                <div class="row">
                    <div class="col-auto text-secondary">Genre: </div>
                    <div class="col-auto">@Model.ItemModel.Genre</div>
                    <p> | </p>
                    <div class="col-auto text-secondary">Language: </div>
                    <div class="col-auto">@Model.ItemModel.Language</div>
                </div>
            </div>
            <div>
                <h1 class="text-dark">@Model.ItemModel.Name</h1>
            </div>
            <hr />
            <div>@Model.ItemModel.Description</div>
        </div>
        <div class="col-3">
            <div>@Model.ItemModel.Price</div>
            <form asp-page-handler="addtocart" method="post">
                <button id="addToCart" type="submit" class="btn btn-success">Add to cart</button>
                <input type="hidden" asp-for="@Model.ItemModel.Id" name="prodId" />
            </form>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        $(function () {
        $.ajax({  
                type: "GET",  
                contentType: "application/json; charset=utf-8",  
                datatype: "json",  
                success: function () {  
                    debugger;
                    $('#myModal').modal('show');                    
  
                },  
                error: function () {  
                    alert("Dynamic content load failed.");  
                }  
            });  
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

    </script>  
}