﻿
@page
@{
    ViewData["Title"] = "Catalog";
    @model IndexModel
}

@*<section class="catalog-filters">
    <div class="container">
        <form method="get">
            <label class="catalog-label" data-title="brand">
                <select asp-for="@Model.CatalogModel.PlatformsFilterApplied" asp-items="@Model.CatalogModel.Platforms" class="catalog-filter"></select>
            </label>
            <label class="catalog-label" data-title="type">
                <select asp-for="@Model.CatalogModel.TypesFilterApplied" asp-items="@Model.CatalogModel.Types" class="catalog-filter"></select>
            </label>
            <input class="catalog-send" type="image" src="images/arrow-right.svg" />
        </form>
    </div>
</section>
<div class="container">*@
    @if (Model.CatalogModel.CatalogPageItems.Any())
    {
        <div class="row">
            @foreach (var catalogItem in Model.CatalogModel.CatalogPageItems)
            {
                <div class="col-md-3 my-2">
                    <form asp-page-handler="viewitem" method="post">
                        <button class="catalog-button-hidden" type="submit">
                            <div class="card">
                                <img class="card-img-top" src="@catalogItem.ImageUrl">
                                <div class="card-body">
                                    <h5 class="card-title">@catalogItem.Name</h5>
                                    <p class="card-text">$@catalogItem.Price</p>
                                </div>
                            </div>
                        </button>
                        <input type="hidden" asp-for="@catalogItem.Id" name="prodId" />
                    </form>
                </div>
            }
        </div>
        @*<partial name="_pagination" for="CatalogModel.PaginationInfo" />*@
    }
    else
    {
        <div class="catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
