﻿@page
@model GameShopRP.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
}


    <div class="container">

        @if (Model.OrderViewModel.OrderItems.Any())
        {
            <div class="row my-2 px-3">
                <div class="col-auto">
                    <div style="width: 24px"></div>
                </div>
                <div class="col-auto"><h5 style="width: 70px">Product</h5></div>
                <div class="col-4 d-flex justify-content-center"></div>
                <div class="col d-flex justify-content-center"><h5>Price</h5></div>
                <div class="col d-flex justify-content-center"><h5>Quantity</h5></div>
                <div class="col d-flex justify-content-center"><h5>Cost</h5></div>
            </div>

            <hr />

            @foreach (var orderItem in Model.OrderViewModel.OrderItems)
            {
                <div class="border border-light-gray row rounded my-3 py-2 px-3">
                    <div class="col-auto d-flex align-items-center">
                        <form asp-page-handler="deleteOrderLine" method="post">
                            <button type="submit" class="catalog-button-hidden">
                                <svg class="ico" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6">
                                    </polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17">
                                    </line>
                                    <line x1="14" y1="11" x2="14" y2="17">
                                    </line>
                                </svg>
                            </button>
                            <input type="hidden" asp-for="@orderItem.Id" name="orderLineId" />
                        </form>
                    </div>
                    <div class="col-auto">
                        <div>
                            <img src="@orderItem.ImageUrl" class="img-fluid just" style="max-width: 70px" />
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center"><h5>@orderItem.ProductName</h5></div>
                    <div class="col d-flex align-items-center justify-content-center">$@orderItem.ProductPrice</div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <form asp-page-handler="updateQuantity" method="post">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text btn" id="decrBtn" onclick="decQuantity(@orderItem.Id)">
                                        <svg id="i-minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M2 16 L30 16" />
                                        </svg>
                                    </span>
                                </span>
                                <input id="inp@(orderItem.Id)" type="text" asp-for="@orderItem.Quantity" class="form-control" maxlength="4" min="1" name="quantity" />
                                <input type="hidden" asp-for="@orderItem.Id" name="orderLineId"/>
                                <span class="input-group-append">
                                    <span class="input-group-text btn" id="incrBtn" onclick="incQuantity(@orderItem.Id)">
                                        <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M16 2 L16 30 M2 16 L30 16" />
                                        </svg>
                                    </span>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-block btn-secondary mt-2" style="font-size: 0.8rem">Update</button>
                        </form>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">$@Math.Round(orderItem.ProductPrice * orderItem.Quantity, 2)</div>
                </div>
            }

            <div class="row my-2">
                <div class="col-md-4 d-flex align-items-center pl-0">
                    <div class="pr-5 btn-block">
                        <a asp-page="Index" class="btn btn-block btn-secondary text-white">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 pr-0">
                    <div class="p-4 clearfix rounded" style="background-color: #e3f2fd">
                        <span class="float-left mb-2">Total:</span>
                        <span class="float-right mb-2">@Model.OrderViewModel.Total()</span>
                        <a class="btn btn-block btn-warning" style="display: inline-block">Checkout</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div>
                <h3>
                    Your cart is empty.
                </h3>
            </div>
        }
    </div>
    <script src="~/js/cart.js"></script>

